<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <a id="menu-toggle" class="menu-toggle" href="#menu-toggle">
      <i class="fa fa-bars" style="font-size:20px !Important;" aria-hidden="true"></i> 
    </a>
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </li>
  <% 5.times do |n| %>
  <li>
    <a class="sidebar-nav-item" href="#">
      <span class="sidebar-nav-item-icon">
        <%= fa_icon "sort-alpha-asc" %>
      </span>
      <span class="sidebar-nav-item-text">Section</span>
    </a>
  </li>
  <% end %>
</ul>
