<h1>Volby byly vytvořeny</h1>

<%= render "detail", { election: @election } %>

<p>
  <strong>Privátní klíč:</strong>
  <pre><%= @shown_private_key %></pre>
</p>

<%= link_to 'Back', elections_path, {:class => 'btn btn-primary'} %>
