<h1>Kandidátní listina - <%= @candidate_list.election.title %></h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Jméno</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.full_name %></td>
        <td>
          <% if @candidate_list.election.state == 'preparation' %>
            <% if can? :destroy_candidacy, @candidate_list %>
              <%= link_to 'Zrušit kandidaturu', candidate_list_path+'/destroy_candidacy/'+candidate.id, { method: :delete, data: { confirm: 'Opravdu chcete odebrat kandidáta ?' }, :class => 'btn btn-primary pull-right'}  %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="2" class="info">
          Zatím se nepřihlásil žádný kandidát.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if @candidate_list.election.state == 'preparation' then %>
  <% if can? :submit_candidacy, @candidate_list %>
    <%= link_to 'Podat kandidaturu', candidate_list_path+'/submit_candidacy', { method: :post, 
  data: { confirm: 'Jste si jistí, že chcete podat kandidaturu ?' }, :class => 'btn btn-primary'}  %>
  <% end %>
<% end %>
